<!DOCTYPE html>
<html>
<head>
    <title>{{branch}}</title>
    <meta charset="utf-8" />
</head>
<body>
	<p>Ветка: <b>{{branch}}</b> <a href="filetree/{{branch}}">файловое дерево этой ветки</a></p>
    <ul>
    	{{#each commits}}
			<li>
				<b>{{this.hash}} </b> {{this.author}} {{this.date}}
				<a href="filetree/{{this.hash}}">файловое дерево этого коммита</a>
			</li>
    	{{/each}}
    </ul>
</body>
<html>